.container {
	display: flex;
	width: 100%;
}

.field {
	flex: auto;
	width: 100%;
	display: flex;
	position: relative;
}

.btn {
	flex: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: white;
	font-weight: 600;
	background-color: var(--purple-9);
	cursor: pointer;
}

.btn:hover {
	background-color: var(--purple-10);
}

.input {
	flex: auto;
	width: 100%;
	border: none;
	background-color: transparent;
	border-radius: 5px;
	padding-left: 0.5rem;
	margin-right: 0.5rem;
	border: 1px solid var(--purple-7);
}

.input:hover {
	outline: transparent;
	border: 1px solid var(--purple-8);
}

.input:focus {
	outline: transparent;
	border: 1px solid var(--purple-8);
}

.input::placeholder {
	color: var(--text-secondary);
	font-size: var(--font-sm);
}

.clear-btn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: var(--font-md);
	font-size: var(--font-md);
	color: var(--text-secondary);
	background-color: transparent;
	transform: translateY(-50%);
	transition: color 0.27s ease-in-out;
}

.clear-btn:hover {
	color: var(--text-primary);
}
