.container {
	position: relative;
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.38s ease-in-out;
}

.container[data-show='true'] {
	opacity: 1;
}
