.logger__container {
	position: relative;
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
}

.logger__title {
	flex: none;
	font-size: var(--font-lg);
	font-weight: 600;
	margin-bottom: 16px;
}

.logger__content {
	flex: auto;
	height: 100%;
}
