*::before,
*::after {
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	color: var(--text-primary);
	background-color: var(--page-bg);
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

button {
	border: none;
	box-shadow: none;
}

:root {
	--page-bg: white;

	--purple-1: hsl(280, 65%, 99.4%);
	--purple-2: hsl(276, 100%, 99%);
	--purple-3: hsl(276, 83.1%, 97%);
	--purple-4: hsl(275, 76.4%, 94.7%);
	--purple-5: hsl(275, 70.8%, 91.8%);
	--purple-6: hsl(274, 65.4%, 87.8%);
	--purple-7: hsl(273, 61%, 81.7%);
	--purple-8: hsl(272, 60%, 73.5%);
	--purple-9: hsl(272, 51%, 54%);
	--purple-10: hsl(272, 46.8%, 50.3%);
	--purple-11: hsl(272, 50%, 45.8%);
	--purple-12: hsl(272, 66%, 16%);

	--text-primary: rgb(23, 23, 23);
	--text-secondary: rgb(111, 111, 111);

	--font-xs: 10px;
	--font-sm: 14px;
	--font-md: 16px;
	--font-lg: 20px;
	--font-xl: 24px;
	--font-xxl: 32px;
}

.dark {
	--page-bg: hsl(280, 6%, 10%);

	--text-primary: rgb(237, 237, 237);
	--text-secondary: rgb(160, 160, 160);
}
